p {color:#FFF;
font-family: Calligraph421 BT, Tahoma, Geneva, sans-serif;
font-size: 14px;
font-weight:bold;
}


p#footer-text {color:#FFF;
font-family: Gill Sans MT, Tahoma, Geneva, sans-serif;
font-size: 15px;
font-weight:normal;}

a {color:#FFFFFF; text-decoration:none;}


